# Dataframes

In [2]:
import pandas as pd

# Common methods between series and dataframes

In [3]:
nba = pd.read_csv("nba.csv")

In [5]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [6]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nba.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [8]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [9]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [10]:
nba.shape

(458, 9)

In [12]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [13]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [15]:
nba.axes     #combines index and columns attribute

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

# Exclusive methods

In [17]:
nba.info()  #not present in a series

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [19]:
nba.get_dtype_counts()                   #Count of different datatypes

float64    4
object     5
dtype: int64

# difference between shared methods

In [24]:
rev = pd.read_csv("revenue.csv", index_col = "Date")

In [26]:
rev.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [28]:
rev.sum(axis = 0)    #columnwise sum
rev.sum(axis = "index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [31]:
rev.sum(axis = 1) #rowwise sum
rev.sum(axis = "columns")

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [3]:
nba = pd.read_csv("nba.csv")

# extract single column (not best method)

In [9]:
nba.Name                               #works only for single word collumn names

0                Avery Bradley
1                  Jae Crowder
2                 John Holland
3                  R.J. Hunter
4                Jonas Jerebko
5                 Amir Johnson
6                Jordan Mickey
7                 Kelly Olynyk
8                 Terry Rozier
9                 Marcus Smart
10             Jared Sullinger
11               Isaiah Thomas
12                 Evan Turner
13                 James Young
14                Tyler Zeller
15            Bojan Bogdanovic
16                Markel Brown
17             Wayne Ellington
18     Rondae Hollis-Jefferson
19                Jarrett Jack
20              Sergey Karasev
21             Sean Kilpatrick
22                Shane Larkin
23                 Brook Lopez
24            Chris McCullough
25                 Willie Reed
26             Thomas Robinson
27                  Henry Sims
28                Donald Sloan
29              Thaddeus Young
                ...
428            Al-Farouq Aminu
429            Pat Connaughton
430               Allen Crabbe
431                   Ed Davis
432           Maurice Harkless
433           Gerald Henderson
434                Chris Kaman
435             Meyers Leonard
436             Damian Lillard
437              C.J. McCollum
438               Luis Montero
439              Mason Plumlee
440              Brian Roberts
441                Noah Vonleh
442              Trevor Booker
443                 Trey Burke
444                 Alec Burks
445                 Dante Exum
446             Derrick Favors
447                Rudy Gobert
448             Gordon Hayward
449                Rodney Hood
450                 Joe Ingles
451              Chris Johnson
452                 Trey Lyles
453               Shelvin Mack
454                  Raul Neto
455               Tibor Pleiss
456                Jeff Withey
457                        NaN
Name: Name, Length: 458, dtype: object

In [11]:
nba.Number
Output = None

In [14]:
nba["Name"]  #better way 
nba["Salary"]
nba["Name"].head()

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

# extract two or more columns

In [16]:
nba[["Name","Team"]].head(3)

            Name            Team
0  Avery Bradley  Boston Celtics
1    Jae Crowder  Boston Celtics
2   John Holland  Boston Celtics

In [18]:
nba[["Number","College"]].head(10)

   Number            College
0     0.0              Texas
1    99.0          Marquette
2    30.0  Boston University
3    28.0      Georgia State
4     8.0                NaN
5    90.0                NaN
6    55.0                LSU
7    41.0            Gonzaga
8    12.0         Louisville
9    36.0     Oklahoma State

In [19]:
select = ["Salary", "Team", "Name"]

In [20]:
nba[select]

         Salary                    Team                     Name
0     7730337.0          Boston Celtics            Avery Bradley
1     6796117.0          Boston Celtics              Jae Crowder
2           NaN          Boston Celtics             John Holland
3     1148640.0          Boston Celtics              R.J. Hunter
4     5000000.0          Boston Celtics            Jonas Jerebko
5    12000000.0          Boston Celtics             Amir Johnson
6     1170960.0          Boston Celtics            Jordan Mickey
7     2165160.0          Boston Celtics             Kelly Olynyk
8     1824360.0          Boston Celtics             Terry Rozier
9     3431040.0          Boston Celtics             Marcus Smart
10    2569260.0          Boston Celtics          Jared Sullinger
11    6912869.0          Boston Celtics            Isaiah Thomas
12    3425510.0          Boston Celtics              Evan Turner
13    1749840.0          Boston Celtics              James Young
14    2616975.0          Boston Celtics             Tyler Zeller
15    3425510.0           Brooklyn Nets         Bojan Bogdanovic
16     845059.0           Brooklyn Nets             Markel Brown
17    1500000.0           Brooklyn Nets          Wayne Ellington
18    1335480.0           Brooklyn Nets  Rondae Hollis-Jefferson
19    6300000.0           Brooklyn Nets             Jarrett Jack
20    1599840.0           Brooklyn Nets           Sergey Karasev
21     134215.0           Brooklyn Nets          Sean Kilpatrick
22    1500000.0           Brooklyn Nets             Shane Larkin
23   19689000.0           Brooklyn Nets              Brook Lopez
24    1140240.0           Brooklyn Nets         Chris McCullough
25     947276.0           Brooklyn Nets              Willie Reed
26     981348.0           Brooklyn Nets          Thomas Robinson
27     947276.0           Brooklyn Nets               Henry Sims
28     947276.0           Brooklyn Nets             Donald Sloan
29   11235955.0           Brooklyn Nets           Thaddeus Young
..          ...                     ...                      ...
428   8042895.0  Portland Trail Blazers          Al-Farouq Aminu
429    625093.0  Portland Trail Blazers          Pat Connaughton
430    947276.0  Portland Trail Blazers             Allen Crabbe
431   6980802.0  Portland Trail Blazers                 Ed Davis
432   2894059.0  Portland Trail Blazers         Maurice Harkless
433   6000000.0  Portland Trail Blazers         Gerald Henderson
434   5016000.0  Portland Trail Blazers              Chris Kaman
435   3075880.0  Portland Trail Blazers           Meyers Leonard
436   4236287.0  Portland Trail Blazers           Damian Lillard
437   2525160.0  Portland Trail Blazers            C.J. McCollum
438    525093.0  Portland Trail Blazers             Luis Montero
439   1415520.0  Portland Trail Blazers            Mason Plumlee
440   2854940.0  Portland Trail Blazers            Brian Roberts
441   2637720.0  Portland Trail Blazers              Noah Vonleh
442   4775000.0               Utah Jazz            Trevor Booker
443   2658240.0               Utah Jazz               Trey Burke
444   9463484.0               Utah Jazz               Alec Burks
445   3777720.0               Utah Jazz               Dante Exum
446  12000000.0               Utah Jazz           Derrick Favors
447   1175880.0               Utah Jazz              Rudy Gobert
448  15409570.0               Utah Jazz           Gordon Hayward
449   1348440.0               Utah Jazz              Rodney Hood
450   2050000.0               Utah Jazz               Joe Ingles
451    981348.0               Utah Jazz            Chris Johnson
452   2239800.0               Utah Jazz               Trey Lyles
453   2433333.0               Utah Jazz             Shelvin Mack
454    900000.0               Utah Jazz                Raul Neto
455   2900000.0               Utah Jazz             Tibor Pleiss
456    947276.0               Utah Jazz              Jeff Withey
457         NaN                     NaN                      NaN

[458 rows x 3 columns]

# add new column

In [22]:
nba["Sport"] = "Basketball"

In [24]:
nba["League"] = "National Basketball Association"

In [27]:
nba = pd.read_csv("nba.csv")

In [28]:
nba.insert(3,column = "Sport", value = "Basketball")    #see docstring

In [30]:
nba.insert(2,column = "amount", value = 1000)

In [31]:
nba.head()

,Name,Team,amount,Number,Sport,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,1000,0.0,Basketball,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,1000,99.0,Basketball,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,1000,30.0,Basketball,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,1000,28.0,Basketball,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,1000,8.0,Basketball,PF,29.0,6-10,231.0,NaN,5000000.0

# Broadcasting Operations

In [33]:
nba["Age"].add(5)

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [34]:
nba["Age"] + 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [40]:
nba["Salary"].sub(4000)
nba["Salary"] - 4000

nba["Weight"].mul(0.453592)

nba["Weight in kilograms"] = nba["Weight"] * (0.453592)

In [44]:
nba["Salary"].div(100000)
nba["Salary in Millions"] = nba["Salary"] / 100000

,Name,Team,amount,Number,Sport,Position,Age,Height,Weight,College,Salary,Weight in kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,1000,0.0,Basketball,PG,25.0,6-2,180.0,Texas,7730337.0,81.646560,77.30337
1,Jae Crowder,Boston Celtics,1000,99.0,Basketball,SF,25.0,6-6,235.0,Marquette,6796117.0,106.594120,67.96117
2,John Holland,Boston Celtics,1000,30.0,Basketball,SG,27.0,6-5,205.0,Boston University,NaN,92.986360,NaN
3,R.J. Hunter,Boston Celtics,1000,28.0,Basketball,SG,22.0,6-5,185.0,Georgia State,1148640.0,83.914520,11.48640
4,Jonas Jerebko,Boston Celtics,1000,8.0,Basketball,PF,29.0,6-10,231.0,NaN,5000000.0,104.779752,50.00000
5,Amir Johnson,Boston Celtics,1000,90.0,Basketball,PF,29.0,6-9,240.0,NaN,12000000.0,108.862080,120.00000
6,Jordan Mickey,Boston Celtics,1000,55.0,Basketball,PF,21.0,6-8,235.0,LSU,1170960.0,106.594120,11.70960
7,Kelly Olynyk,Boston Celtics,1000,41.0,Basketball,C,25.0,7-0,238.0,Gonzaga,2165160.0,107.954896,21.65160
8,Terry Rozier,Boston Celtics,1000,12.0,Basketball,PG,22.0,6-2,190.0,Louisville,1824360.0,86.182480,18.24360
9,Marcus Smart,Boston Celtics,1000,36.0,Basketball,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,99.790240,34.31040
10,Jared Sullinger,Boston Celtics,1000,7.0,Basketball,C,24.0,6-9,260.0,Ohio State,2569260.0,117.933920,25.69260
11,Isaiah Thomas,Boston Celtics,1000,4.0,Basketball,PG,27.0,5-9,185.0,Washington,6912869.0,83.914520,69.12869
12,Evan Turner,Boston Celtics,1000,11.0,Basketball,SG,27.0,6-7,220.0,Ohio State,3425510.0,99.790240,34.25510
13,James Young,Boston Celtics,1000,13.0,Basketball,SG,20.0,6-6,215.0,Kentucky,1749840.0,97.522280,17.49840
14,Tyler Zeller,Boston Celtics,1000,44.0,Basketball,C,26.0,7-0,253.0,North Carolina,2616975.0,114.758776,26.16975
15,Bojan Bogdanovic,Brooklyn Nets,1000,44.0,Basketball,SG,27.0,6-8,216.0,NaN,3425510.0,97.975872,34.25510
16,Markel Brown,Brooklyn Nets,1000,22.0,Basketball,SG,24.0,6-3,190.0,Oklahoma State,845059.0,86.182480,8.45059
17,Wayne Ellington,Brooklyn Nets,1000,21.0,Basketball,SG,28.0,6-4,200.0,North Carolina,1500000.0,90.718400,15.00000
18,Rondae Hollis-Jefferson,Brooklyn Nets,1000,24.0,Basketball,SG,21.0,6-7,220.0,Arizona,1335480.0,99.790240,13.35480
19,Jarrett Jack,Brooklyn Nets,1000,2.0,Basketball,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,90.718400,63.00000
20,Sergey Karasev,Brooklyn Nets,1000,10.0,Basketball,SG,22.0,6-7,208.0,NaN,1599840.0,94.347136,15.99840
21,Sean Kilpatrick,Brooklyn Nets,1000,6.0,Basketball,SG,26.0,6-4,219.0,Cincinnati,134215.0,99.336648,1.34215
22,Shane Larkin,Brooklyn Nets,1000,0.0,Basketball,PG,23.0,5-11,175.0,Miami (FL),1500000.0,79.378600,15.00000
23,Brook Lopez,Brooklyn Nets,1000,11.0,Basketball,C,28.0,7-0,275.0,Stanford,19689000.0,124.737800,196.89000
24,Chris McCullough,Brooklyn Nets,1000,1.0,Basketball,PF,21.0,6-11,200.0,Syracuse,1140240.0,90.718400,11.40240
25,Willie Reed,Brooklyn Nets,1000,33.0,Basketball,PF,26.0,6-10,220.0,Saint Louis,947276.0,99.790240,9.47276
26,Thomas Robinson,Brooklyn Nets,1000,41.0,Basketball,PF,25.0,6-10,237.0,Kansas,981348.0,107.501304,9.81348
27,Henry Sims,Brooklyn Nets,1000,14.0,Basketball,C,26.0,6-10,248.0,Georgetown,947276.0,112.490816,9.47276
28,Donald Sloan,Brooklyn Nets,1000,15.0,Basketball,PG,28.0,6-3,205.0,Texas A&M,947276.0,92.986360,9.47276
29,Thaddeus Young,Brooklyn Nets,1000,30.0,Basketball,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,100.243832,112.35955
...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,1000,8.0,Basketball,SF,25.0,6-9,215.0,Wake Forest,8042895.0,97.522280,80.42895
429,Pat Connaughton,Portland Trail Blazers,1000,5.0,Basketball,SG,23.0,6-5,206.0,Notre Dame,625093.0,93.439952,6.25093
430,Allen Crabbe,Portland Trail Blazers,1000,23.0,Basketball,SG,24.0,6-6,210.0,California,947276.0,95.254320,9.47276
431,Ed Davis,Portland Trail Blazers,1000,17.0,Basketball,C,27.0,6-10,240.0,North Carolina,6980802.0,108.862080,69.80802
432,Maurice Harkless,Portland Trail Blazers,1000,4.0,Basketball,SF,23.0,6-9,215.0,St. John's,2894059.0,97.522280,28.94059
433,Gerald Henderson,Portland Trail Blazers,1000,9.0,Basketball,SG,28.0,6-5,215.0,Duke,6000000.0,97.522280,60.00000
434,Chris Kaman,Portland Trail Blazers,1000,35.0,Basketball,C,34.0,7-0,265.0,Central Michigan,5016000.0,120.201880,50.16000
435,Meyers Leonard,Portland Trail Blazers,1000,11.0,Basketball,PF,24.0,7-1,245.0,Illinois,3075880.0,111.130040,30.75880
436,Damian Lillard,Portland Trail Blazers,1000,0.0,Basketball,PG,25.0,6-3,195.0,Weber State,4236287.0,88.450440,42.36287
437,C.J. McCollum,Portland Trail Blazers,1000,3.0,Basketball,SG,24.0,6-4,200.0,Lehigh,2525160.0,90.718400,25.25160
438,Luis Montero,Portland Trail Blazers,1000,44.0,Basketball,SG,23.0,6-7,185.0,Westchester CC,525093.0,83.914520,5.25093
439,Mason Plumlee,Portland Trail Blazers,1000,24.0,Basketball,C,26.0,6-11,235.0,Duke,1415520.0,106.594120,14.15520
440,Brian Roberts,Portland Trail Blazers,1000,2.0,Basketball,PG,30.0,6-1,173.0,Dayton,2854940.0,78.471416,28.54940
441,Noah Vonleh,Portland Trail Blazers,1000,21.0,Basketball,PF,20.0,6-9,240.0,Indiana,2637720.0,108.862080,26.37720
442,Trevor Booker,Utah Jazz,1000,33.0,Basketball,PF,28.0,6-8,228.0,Clemson,4775000.0,103.418976,47.75000
443,Trey Burke,Utah Jazz,1000,3.0,Basketball,PG,23.0,6-1,191.0,Michigan,2658240.0,86.636072,26.58240
444,Alec Burks,Utah Jazz,1000,10.0,Basketball,SG,24.0,6-6,214.0,Colorado,9463484.0,97.068688,94.63484
445,Dante Exum,Utah Jazz,1000,11.0,Basketball,PG,20.0,6-6,190.0,NaN,3777720.0,86.182480,37.77720
446,Derrick Favors,Utah Jazz,1000,15.0,Basketball,PF,24.0,6-10,265.0,Georgia Tech,12000000.0,120.201880,120.00000
447,Rudy Gobert,Utah Jazz,1000,27.0,Basketball,C,23.0,7-1,245.0,NaN,1175880.0,111.130040,11.75880
448,Gordon Hayward,Utah Jazz,1000,20.0,Basketball,SF,26.0,6-8,226.0,Butler,15409570.0,102.511792,154.09570
449,Rodney Hood,Utah Jazz,1000,5.0,Basketball,SG,23.0,6-8,206.0,Duke,1348440.0,93.439952,13.48440
450,Joe Ingles,Utah Jazz,1000,2.0,Basketball,SF,28.0,6-8,226.0,NaN,2050000.0,102.511792,20.50000
451,Chris Johnson,Utah Jazz,1000,23.0,Basketball,SF,26.0,6-6,206.0,Dayton,981348.0,93.439952,9.81348
452,Trey Lyles,Utah Jazz,1000,41.0,Basketball,PF,20.0,6-10,234.0,Kentucky,2239800.0,106.140528,22.39800
453,Shelvin Mack,Utah Jazz,1000,8.0,Basketball,PG,26.0,6-3,203.0,Butler,2433333.0,92.079176,24.33333
454,Raul Neto,Utah Jazz,1000,25.0,Basketball,PG,24.0,6-1,179.0,NaN,900000.0,81.192968,9.00000
455,Tibor Pleiss,Utah Jazz,1000,21.0,Basketball,C,26.0,7-3,256.0,NaN,2900000.0,116.119552,29.00000
456,Jeff Withey,Utah Jazz,1000,24.0,Basketball,C,26.0,7-0,231.0,Kansas,947276.0,104.779752,9.47276
457,NaN,NaN,1000,NaN,Basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# value_counts() method

In [4]:
nba = pd.read_csv("nba.csv")

In [5]:
nba["Team"].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Cleveland Cavaliers       15
Oklahoma City Thunder     15
Brooklyn Nets             15
Portland Trail Blazers    15
Detroit Pistons           15
Boston Celtics            15
Philadelphia 76ers        15
San Antonio Spurs         15
Golden State Warriors     15
Los Angeles Lakers        15
Toronto Raptors           15
Sacramento Kings          15
Denver Nuggets            15
Atlanta Hawks             15
Phoenix Suns              15
Houston Rockets           15
Charlotte Hornets         15
Utah Jazz                 15
Dallas Mavericks          15
Washington Wizards        15
Los Angeles Clippers      15
Indiana Pacers            15
Chicago Bulls             15
Miami Heat                15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64